<div id="changes">
  <ul>
    <li><h3>First Name</h3>
      <input type="text" name="firstName" [(ngModel)]="user.firstName">
    </li>
    <li>
      <h3>Last Name</h3>
      <input type="text" name="lastName" [(ngModel)]="user.lastName">
    </li>
    <li>
      <h3>Email</h3>
      <input disabled type="email" name="email" [(ngModel)]="user.email">
    </li>
    <button id="backMenu" (click)="goBack()">Back</button>
    <button id="saveNpush">Update</button>
    <button id="deleteUser">Delete</button>
  </ul>
</div>
