<div class="table-box">
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Company</th>
      <th>Created</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of usersList">
      <td>{{item.id}}</td>
      <td>{{item.firstName}}</td>
      <td>{{item.email}}</td>
      <td>{{item.companyName}}</td>
      <td>{{item.createdAt}}</td>
      <td><button class="editCl" (click)="goToDetails(this.item.id)">
        <i class="fa fa-edit"></i></button></td>
      <!--<td><button class="deleteCl" (click)="deleteUserData(this.item.id)" >-->
        <!--<i class="fa fa-trash"></i></button></td>-->
    <!--</tr>-->
    </tbody>
  </table>
  <button id="createU" (click)="createUser()">Create User</button>
  <button id="delU" >Delete Marked Users</button>
  <button id="mU" >Some Cagic</button>
</div>
