<div class="table-box">
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Company</th>
      <th>Created</th>
      <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of usersList">
      <td>{{item.id}}</td>
      <td>{{item.firstName}}</td>
      <td>{{item.email}}</td>
      <td>{{item.companyName}}</td>
      <td>{{item.createdAt}}</td>
      <td><button id="editId{{item.id}}" (click)="goToDetails(this.item.id)">
        <i class="fa fa-edit"></i></button></td>
    </tr>
    </tbody>
  </table>
</div>
