<div class="top">
  <nav class="navbar navbar-inverse navbar-fixed-top " style="padding-top: 10px;">
    <a href="#"><img src="assets/img/logoadmin.png" alt=""></a>
  </nav>
</div>
<div class="container">
  <div class="lc">
    <ul id="menu" class="collapse">
      <li class="panel active">
        <a href="#" >
          <p class="icon-table"></p> Dashboard
        </a>
      </li>
      <li class="panel ">
        <a href="#" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#component-nav">
          UI Elements
        <span class="label label-default">10</span></a>
        <ul class="collapse">
          <li class=""><a href="#"> Buttons </a></li>
          <li class=""><a href="#"> Icons </a></li>
          <li class=""><a href="#"> Progress </a></li>
          <li class=""><a href="#"> Tabs & Panels </a></li>
          <li class=""><a href="#"> Notification </a></li>
          <li class=""><a href="#"> More Notification </a></li>
          <li class=""><a href="#"> Modals </a></li>
          <li class=""><a href="#"> Wizard </a></li>
          <li class=""><a href="#"> Sliders </a></li>
          <li class=""><a href="#"> Typography </a></li>
        </ul>
      </li>
      <li class="panel">
        <a href="#" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#pagesr-nav">
            <p class="icon-table"></p> Pages
          <span class="label label-info">6</span></a>
        <ul class="collapse">
          <li><a href="#"> Calendar </a></li>
          <li><a href="#"> Timeline </a></li>
          <li><a href="#"> Social </a></li>
          <li><a href="#"> Pricing </a></li>
          <li><a href="#"> Offline </a></li>
          <li><a href="#"> Under Construction </a></li>
        </ul>
      </li>
      <li><a href="#"><p class="icon-signin"></p> Login Page </a></li>
    </ul>
  </div>
  <div class="center">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="bottom">
  <a href="#">someBottom</a>
</div>
