app-user-side {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333333;
  background-color: #ffffff;
  line-height: 1.4;
}
#menu {
  position: relative;
  overflow: hidden;
  border-right:1px solid rgb(216, 215, 215);
  border-left:1px solid rgb(216, 215, 215);
  background-color:#f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
}
#menu,#menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
@media (min-width: 768px) {
  #menu.collapse {
    display: inherit !important;
  }
}
.navbar a img{
  padding-top: 17px;
  padding-left: 10px;
}
.navbar button{
  margin-top: 15px;
  margin-right: 10px;
  border-radius: 4px;
}
.center{
  display: flex;
  padding-top: 3%;
  justify-content: center;
}
#lOTop{
  height: 33px;
  width: 70px;
  border: none;
  background: steelblue;
  float: right;
  color: white;
}
li > ul > li{
  padding-left: 30px;
}
