<div class="container1">
  <div class="onTopOfTheWorld">
    <div id="topLine1">
      <p>Default Message: </p>
      <ul class="line">
        <li><a href="#">My Account</a> | </li>
        <li><a href="/userside">Admin Page</a> | </li>
        <li><a href="#">My Cart</a> | </li>
        <li><a href="#">Checkout</a> | </li>
        <li *ngIf="!lLogged()"><a href="home/#windLog" class="button button-green">Log In</a></li>
        <li *ngIf="user.email && lLogged()" class="hell"><p class="helloLog">Welcome {{ user.email }}</p></li>
        <li *ngIf="lLogged()"><button id="logOut" (click)="quit()">Log Out</button></li>
      </ul>

      <div class="position-absolute">
        <a href="home/#close" class="overlay" id="windLog"></a>
        <div class="popup">
          <h1>Site Idea</h1>
          <h2>Sing in</h2>
          <input type="email" class="lInput" [(ngModel)]="user.email"  placeholder="Email" name="email">
          <input type="password" class="lInput" [(ngModel)]="user.password" placeholder="Password" name="password">
          <button class="submit" (click)="auth(user)">Sign In</button>
          <a class="close"title="Закрыть" href="home/#close"></a>
        </div>
      </div>

      <div class="bucket">Your bucket is empty</div>
    </div>
    <div id="topLine2">
      <img src="http://demo.templates-master.com/demo01/skin/frontend/default/a003/images/logo.gif">
      <div class="contact">
        <p>Toll-Free: 1-800-000-0000</p>
        <p>Toll-Free: 1-800-000-0000</p>
        <p>Toll-Free: 1-800-000-0000</p>
      </div>
    </div>
    <div id="topLine3">
      <ul class="line2">
        <li><a href="#">Home</a></li>
        <li><a href="#">Furniture</a></li>
        <li><a href="#">Electronix</a></li>
        <li><a href="#">Apparel</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>
      <div class="search">
        <input type="text">
        <button>Go</button>
      </div>
    </div>
    <!--     <div id="div4">
          <button class="previous" (click)="myFunctionminus()">'<'</button>
          <div class="sliderBox">
            <div class="sliderContent">
              <a href="#"><img src="http://jiayu.com.ua/images/sma_sku495911.jpg" alt=""></a>
              <a href="#"><img src="http://jiayu.com.ua/images/sma_sku495911.jpg" alt=""></a>
              <a href="#"><img src="http://jiayu.com.ua/images/sma_sku495911.jpg" alt=""></a>
            </div>
          </div>
          <button class="next" (click)="myFunctionplus()">'>'</button>
        </div> -->

    <div id="div4">
      <button class="previous" (click)="slideTo('left')">'<'</button>
      <div class="slider-box">
        <div class="slider-content" #sliderContentId>
          <a href="#"><img src="https://placeimg.com/640/480/any"></a>
          <a href="#"><img src="https://placeimg.com/640/480/any"></a>
          <a href="#"><img src="https://placeimg.com/640/480/any"></a>
        </div>
      </div>
      <button class="next" (click)="slideTo('right')">'>'</button>
    </div>

    <div class="div4Inside">

    </div>
    <div id="topLine4">
      <p><span class="bold">SAVE25$</span> ON ALL ORDERS OVER 100$ <span><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6Pwl8rq9MfiXOeA4FBf0hS6THUhHpVaRelGWf1XLk0U4epNxkjg" alt=""></span>WITH CODE <span class="bold">PROMO25OFF</span></p>
    </div>
  </div>
  <div id="threeColums">
    <div class="column1">
      <div class="categories">
        <h3>Categories</h3>
        <ul>
          <li>
            <a href="">Furniture</a>
            <ul>
              <li>
                <a href="#">Living room</a>
              </li>
              <li>
                <a href="#"><a href="#">Bedroom</a></a>
              </li>
            </ul>
          </li>
          <li>
            <a href="">Electronics</a>
            <ul>
              <li>
                <a href="#">Cell Phones</a>
              </li>
              <li>
                <a href="#"><a href="#">Cameras</a></a>
              </li>
              <li><a href="#">Computers</a></li>
            </ul>
          </li>
          <li>
            <a href="">Apparel</a>
            <ul>
              <li>
                <a href="#">Shirts</a>
              </li>
              <li>
                <a href="#"><a href="#">Shoes</a></a>
              </li>
              <li>
                <a href="">Hoodies</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="popular">
        <h3>Popular products</h3>
        <a href="#"><img src="http://jiayu.com.ua/images/sma_sku495911.jpg" alt=""><p>Argus QC-2185 Quick Click 5MP Digital Camera</p></a><br><span class="cost">$37.49</span>
        <a href="#"><img src="http://jiayu.com.ua/images/sma_sku495911.jpg" alt=""><p>Argus QC-2185 Quick Click 5MP Digital Camera</p></a><br><span class="cost">$37.49</span>
        <a href="#"><img src="http://jiayu.com.ua/images/sma_sku495911.jpg" alt=""><p>Argus QC-2185 Quick Click 5MP Digital Camera</p></a><br><span class="cost">$37.49</span>
      </div>
    </div>
    <div class="column2">
      <div class="block" *ngFor="let item of items">
        <a href="#"><img src="{{item.img}}" alt="">{{item.text}}<h4>{{item.cost}}</h4></a>
      </div>
    </div>
    <div class="column3">
      <div>
        <h3>My Cart</h3>
        <p>You have no items in your shopping cart.</p>
      </div>
      <div>
        <h3>Compare Product</h3>
        <p>You have no items to compare.</p>
      </div>
      <div class="featured">
        <h3>Featured Products</h3>
        <a href="#"><img src="http://jiayu.com.ua/images/sma_sku495911.jpg" alt="">HTC Touch Diamond</a><br><span class="cost">$37.49</span>
        <a href="#"><img src="http://jiayu.com.ua/images/sma_sku495911.jpg" alt="">HTC Touch Diamond</a><br><span class="cost">$37.49</span>
      </div>
      <div class="subsc">
        <h3>New Settler</h3>
        <p>Sign up for our newsletter:</p>
        <input type="text" name="sub" id="sub">
        <button>Subscribe</button>
      </div>
      <div class="image"></div>
    </div>
  </div>

  <div id="bottom">
    <div class="bImg"><img src="http://demo.templates-master.com/demo01/skin/frontend/default/a003/images/payments.gif" alt=""></div>
    <div class="bMenu">
      <ul class="line2">
        <li>
          <a href="">About Us</a>
        </li>
        <li>
          <a href="">Privacy Policy</a>
        </li>
        <li>
          <a href="">Terms & conditions</a>
        </li>
        <li>
          <a href="">Advanced search</a>
        </li>
        <li>
          <a href="">Contact us</a>
        </li>
        <li>
          <a href="">Sitemap</a>
        </li>
      </ul>
    </div>
    <p class="copyright">© 2008 Magento Demo Store. All Rights Reserved.</p>
  </div>
</div>
